* {
  box-sizing: border-box;
}

.division {
  float: left;
  border: 2px solid black;
  width: 350px;
  margin: 40px;
  margin-left: 50px;
  padding: 30px;
  padding-top: 20px;
  contain: content;
  text-align: center;

}

.div-image {
  width: 280px;
  right: 50px;
  align-content: center;
  padding-bottom: 20px;
}

#buy-btn {
  padding: 5px 10px;
  background-color: #0080ff;
  color: seashell;
  border: 1.2px solid #004d99;
  border-radius: 5px;
}

#buy-btn:hover {
    background-color: #0066cc;

}

.navbar { 
  background-image: linear-gradient(to right, #cce6ff,
   #80bfff, #1a8cff, #0066cc );
}

h1 {
   text-align: center;
   margin: 20px;
}

.header-text {

  text-align: center;
}

.about-us {

  background-color: #d6d6c2;
  text-align: center;
  padding: 40px;
  clear: both;
}

.about-us i {

  margin: 20px 5px;
  cursor: pointer;
 font-size: 20px; 

}

.about-us i:hover {

  opacity: 0.7;
}

.about-us p {

  margin: 30px 5px 0px 5px;
}